<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Paypal payment</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <center style="padding:20px">
        <h3>Realizar pagamento - FastTrack</h3>
    </center>
    <form name="f1" action="/paypal">
        <center>
            <button type="submit"
                style="background: url(https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png); height: 44px; width: 228px;border:none;"></button>
        </center>
    </form>
</body>

</html>